{
  "redis-host": "localhost",
  "redis-port": 6379,
  "redis-used-countries-template": "used-countries:$user_id",
  "redis-countries-separator": "|",
  "telegram-bot-token": "INSERT YOUR TOKEN",
  "data-location": "resources/countries.txt",
  "session-lifetime": 3600,
  "game-rules": "Country chain is a word game in which players come up with countries that begin with the letter that the previous word ended with and countries may not be repeated in the same game."
}